<html lang="en"><head>
    <meta name="google-site-verification" content="iul3H5ZITxqslm5FziPEHDeZpOazVvzXxqpK_VHo_Gg">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="Charlie Marsh is a software engineer on the Khan Academy mobile team.">
    <meta name="viewport" content="width=device-width">
    <title>Home | Charlie Marsh</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/css/styles-mobile.css" rel="stylesheet" type="text/css" media="(max-width: 767px)">
    <link href="/static/css/stackicons-min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36552582-3', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="index">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 hidden-xs">
          <center>
            <h1 style="font-size:100px; margin-bottom:0">Charlie Marsh</h1>
            <div>
              <code style="font-size:18px">
                <span class="code-red">type</span> <a class="implicit" href="/all/"><span class="code-blue">blog</span></a> = Post <span class="code-red">of</span> (<span class="code-blue">string</span> <span class="code-red">*</span> <span class="code-blue">blog</span>) | Meta <span class="code-red">of</span> (<a class="implicit" href="/"><span class="code-blue">home</span></a> <span class="code-red">*</span> <a class="implicit" href="/about/"><span class="code-blue">about</span></a>)
              </code>
            </div>
          </center>
          <br>
          <center>
            <a class="implicit" target="_blank" href="mailto:charlie@khanacademy.org">Email</a>
            ⋅
            <a class="implicit" target="_blank" href="http://www.github.com/crm416">GitHub</a>
            ⋅
            <a class="implicit" target="_blank" href="https://twitter.com/crm416">Twitter</a>
            ⋅
            <a class="implicit" href="/about/">About</a>
            ⋅
            <a class="implicit" target="_blank" href="/static/pdf/Charles_Marsh_CV.pdf">Resume</a>
            ⋅
            <a class="implicit" href="/projects">Projects</a>
            ⋅
            <a class="implicit" href="/all/">Blog</a>
          </center>
          <hr>
          <h2>
            I work as a software engineer on the mobile team at <b><a target="_blank" href="https://www.khanacademy.org">Khan Academy</a></b>. Mostly <b><a target="_blank" href="https://play.google.com/store/apps/details?id=org.khanacademy.android">Android</a></b>.<br><br>

            In the past, I've been a Computer Science major at <b>Princeton</b> and an intern at <b>Microsoft</b> and <b>Facebook</b>.<br><br>

            Check out some of my projects:
          </h2>
          <br>
          <br>
          <ul class="match-list" style="margin-top:-25px">
            <li><span class="code-red">match</span> title <span class="code-red">with</span></li>

            <li><a class="implicit code-orange" target="_blank" href="http://jasperproject.github.io"><span class="code-red">|</span> Jasper <span class="code-red">-&gt;</span> </a><a class="implicit" target="_blank" href="http://jasperproject.github.io">An open source platform for developing always-on, voice-controlled applications</a> (1800+ stars on <a href="https://github.com/jasperproject/jasper-client/" target="_blank">GitHub</a>, front page of <a target="_blank" href="https://news.ycombinator.com/item?id=7546858">Hacker News</a>, covered in <a href="http://www.wired.com/2014/04/out-in-the-open-jasper/">WIRED</a>, <a href="http://www.forbes.com/sites/davealtavilla/2014/04/09/princeton-wiz-kids-create-open-source-api-for-device-voice-control-assistant-runs-on-raspberry-pi/">Forbes</a>, <a href="http://lifehacker.com/jasper-adds-voice-control-to-your-raspberry-pi-projects-1560145451">Lifehacker</a>)</li>

            <li><a class="implicit code-orange" target="_blank" href="/script-playground/"><span class="code-red">|</span> Script Playground <span class="code-red">-&gt;</span> </a><a class="implicit" target="_blank" href="/script-playground/">An in-browser playground for the Bitcoin Script programming language</a></li>

            <li><a class="implicit code-orange" target="_blank" href="http://introtohacking.github.io/"><span class="code-red">|</span> Intro to Hacking <span class="code-red">-&gt;</span> </a><a class="implicit" target="_blank" href="http://introtohacking.github.io/">A weekly "hack" class taught at Princeton University to survey useful programming tools and techniques</a></li>

            <li><a class="implicit code-orange" target="_blank" href="https://github.com/dmrd/mad_topic_model"><span class="code-red">|</span> MAD Topic Model <span class="code-red">-&gt;</span> </a><a class="implicit" target="_blank" href="https://github.com/dmrd/mad_topic_model">Topic-model-based authorship detection and stylistic analysis</a></li>

            <li><a class="implicit code-orange" target="_blank" href="https://github.com/crm416/online_boosting"><span class="code-red">|</span> Online Boosting <span class="code-red">-&gt;</span> </a><a class="implicit" target="_blank" href="https://github.com/crm416/online_boosting">A suite of online boosting and weak learning algorithms in Python</a></li>

            <li><a class="implicit code-orange" href="/hack/"><span class="code-red">|</span> Quizzler <span class="code-red">-&gt;</span> </a><a class="implicit" href="/hack/">An automatic quiz-question generator for iOS with a Python back-end</a> (first place entry in the Facebook Summer of Hack Hackathon)</li>
          </ul>
          <!-- <h2>
            I've also contributed in small ways to open-source projects, like <a target="_blank" href="https://www.github.com/facebook/react">React</a> and <a target="_blank" href="https://www.github.com/facebook/react-native">React Native</a>.
          </h2> -->
          <h2>
            And here's an abridged list of things I've written (or as a <a href="/all/">feed</a>):
          </h2>
          <br>
          <br>
          <div style="margin-top:-30px; margin-left:30px">
            <div>2015:
              <ul class="posts-list">
                <li><a target="_blank" href="/configuring-robolectric/">Getting up and Running with Robolectric</a></li>
                <li><a target="_blank" href="/learning-android/">Learning Android in a Production Setting</a></li>
              </ul>
            </div>
            <div>2014:
              <ul class="posts-list">
                <li><a target="_blank" href="/script/">Bitcoin Script: An In-Browser Playground</a></li>
                <li><a target="_blank" href="/flow/">Exploring Flow, Facebook's JavaScript Type Checker</a> (featured on <a target="_blank" href="https://news.ycombinator.com/item?id=8835312">Hacker News</a> and in JavaScript Weekly)</li>
                <li><a target="_blank" href="/svg-performance/">Speeding up SVGs with CSS Transforms at Khan Academy</a> (featured on <a target="_blank" href="https://news.ycombinator.com/item?id=8664736">Hacker News</a>)</li>
                <li><a target="_blank" href="/react-ssr/">Rendering React Components on the Server</a></li>
                <li><a target="_blank" href="/static/pdf/Styling_React_Components.pdf">Styling React Components: How to Escape Selector Hell</a> (talk delivered @ Khan Academy)</li>
                <li><a target="_blank" href="/static/pdf/Charles_Marsh_Online_Boosting.pdf">An Overview of Boosting Techniques in the Online Learning Setting</a></li>
                <li><a target="_blank" href="http://www.toptal.com/python/python-class-attributes-an-overly-thorough-guide">An Overly Thorough Guide to Python Class Attributes</a> (featured in Python Weekly)</li>
                <li><a target="_blank" href="http://www.toptal.com/python/computational-geometry-in-python-from-theory-to-implementation">A Primer on Computational Geometry in Python</a> (featured in Python Weekly)</li>
              </ul>
            </div>
            <div>2013:
              <ul class="posts-list">
                <li><a target="_blank" href="https://www.toptal.com/python/why-are-there-so-many-pythons">Why Are There So Many Pythons?</a> (featured on <a target="_blank" href="https://news.ycombinator.com/item?id=7061360">Hacker News</a>, in Python Weekly, and Pycoder's Weekly)</li>
                <li><a href="/compiling_to_js/">Compiling to JavaScript: A Case-by-Case Guide to the *Scripts</a></li>
                <li><a href="/phantomjs/">PhantomJS: Common Gotchas for Beginners</a></li>
                <li><a href="/aws/">The Idiot-Proof Guide to Setting up Your Personal AWS Instance</a></li>
              </ul>
            </div>
          </div>

          <h2>For more, check out the <a href="/projects/">Projects</a> page.</h2>
          <hr>
          <center style="margin-top: -8px; padding-bottom: 5px">
            © 2015 Charles Marsh
            <nav style="display: inline" class="nav-social st-shape-r4">
              <a target="_blank" title="RSS" style="border-bottom:none; margin-top: -12px" class="st-icon-rss" href="/feed.xml">RSS</a>
            </nav>
          </center>
        </div>
        <div class="col-xs-12 visible-xs">
          <center>
            <h1 style="font-size:40px; margin-bottom:0; margin-top: 20px !important">Charlie Marsh</h1>
            <a href="/about/">About</a>
            ⋅
            <a target="_blank" href="http://www.github.com/crm416">GitHub</a>
            ⋅
            <a target="_blank" href="https://twitter.com/crm416">Twitter</a>
            ⋅
            <a target="_blank" href="/static/pdf/Charles_Marsh_CV.pdf">Resume</a>
            ⋅
            <a href="/projects">Projects</a>
          </center>
          <br>
          <div style="margin-left: 5%; margin-right: 5%">
            Software engineer on the <p class="red"><a target="_blank" href="https://www.khanacademy.org">Khan Academy</a></p> mobile team. Mostly <p class="red"><a target="_blank" href="https://play.google.com/store/apps/details?id=org.khanacademy.android">Android</a></p>.<br><br>

            Once upon a time: a Computer Science major at <p class="red">Princeton</p> and an intern at <p class="red">Microsoft</p> and <p class="red">Facebook</p>.<br><br>
            I like to write:
            <ul style="margin-top:5px">
              <li><a href="/configuring-robolectric/">Getting up and Running with <p class="red">Robolectric</p></a></li>
              <li><a href="/learning-android/">Learning <p class="red">Android</p> in a Production Setting</a></li>
              <li><a href="/flow/">Exploring <p class="red">Flow</p>, Facebook's JS Type Checker</a></li>
              <li><a href="/script/"><p class="red">Bitcoin</p> Script: An In-Browser Playground</a></li>
              <li><a href="/svg-performance/">Speeding up <p class="red">SVGs</p> with <p class="red">CSS</p> Transforms</a></li>
              <li><a href="/react-ssr/">Rendering <p class="red">React</p> Components on the Server</a></li>
              <li><a href="https://www.toptal.com/python/why-are-there-so-many-pythons">Why Are There So Many <p class="red">Pythons</p>?</a></li>
            </ul>
            <br>
            In the past, I've worked on <p class="red"><a target="_blank" href="http://jasperproject.github.io">Jasper</a></p>, the <p class="red"><a target="_blank" href="/script-playground/">Script Playground</a></p>, and <p class="red"><a target="_blank" href="https://www.github.com/facebook/react">React</a></p>.
          </div>
        </div>
      </div>
    </div>
    <div class="visible-xs">
      <div style="position:absolute; bottom:5px; right:5px; width:100px; height:1px; background-color:rgb(241,39,111)"></div>
      <div style="position:absolute; bottom:5px; right:5px; width:1px; height:100px; background-color:rgb(241,39,111)"></div>
    </div>


</body></html>
